.archive {
  padding: 2rem 0;

  .archive__grid {
    display: grid;
    grid-gap: 1.5rem;

    grid-template-columns: 1fr;

    +responsive-over(lg) {
      grid-template-columns: 1fr 1fr;
    }
  }
}
