.archive {
  padding: 0 3rem;

  > ul {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 3rem;

    > li {
      grid-column: span 4;

      +responsive(xl) {
        grid-column: span 3;
      }

      +responsive(md) {
        grid-column: span 6;
      }
    }
  }

  &__page-nav {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 3rem;

    .page-nav {
      grid-column: 5 / span 4;

      +responsive(xl) {
        grid-column: 4 / span 6;
      }
    }
  }
}
