.footer {
  background: footer-bg;

  &__upper-row {
    padding: 3rem 0 2rem;
    text-align: center;
    border-bottom: 1px solid footer-border-color;
  }

  &__bottom-row {
    height:  4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__copywrite {
    font-size: font-size-small;
    color: footer-color;
  }
}
