.header {
  border-top: 6px solid gray-dark;
  border-bottom: 1px solid border-color;
  height: 71px;

  > .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

    &:before {
      content: '';
      position: fixed;
      top: 71px;
      left: 0;
      right: 0;
      bottom: 0;
      background: red;
      display: none;

      +responsive(xs) {
        display: block;
      }
    }

  &__brand {
      height: 100%;
      display: inline-flex;
      align-items: center;

    > img {
      width: 3rem;
      height: 3rem;
      background: black;
      border-radius: 50%;
    }

    &__name {
      margin-left: 1rem;
      font-family: en-font-family;
      font-weight: 500;
    }

    &__tagline {
      margin-left: 6px;
      font-size: small-font-size;
    }
  }

  &__collapse {
    height: 100%;
    display: inline-flex;
    align-items: center;

    +responsive(xs) {
      position: absolute;
      top: 71px;
      left: 0;
      right: 0;
      background: #fff;
      flex-direction: column;
      height: auto;
      border-top: 2px solid border-color;
    }
  }

  &__menu {
    +responsive(xs) {
      width: 100%;
    }
  }

  &__menu-item {
    height: 2.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    color: text-color;
    font-family: en-font-family;

    &:hover,
    &:focus {
      color: link-hover-color;
      text-decoration: none;
    }

    &:active {
      color: link-hover-color;
    }

    +responsive(xs) {
      height: 3rem;
      border-bottom: 1px solid border-color;
      width: 100%;

    }
  }

  &__socials {
    display: inline-flex;
    align-items: center;
    height: 100%;
    margin-left: 10px;

    +responsive(xs) {
      flex-direction: column;
      width: 100%;
    }
  }

  &__socials__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;

    +responsive(xs) {
      width: 100%;
      height: 3rem;
      border-bottom: 1px solid border-color;
    }
  }

  &__toggle {
    display: none;

    +responsive(xs) {
      display: block;
      width: 2.5rem;
      height: 2.5rem;
    }

    img {
      width: 100%;
      height: 100%;
      background: red;
    }
  }
}
