.header {
  border-top: 6px solid gray-dark;
  border-bottom: 1px solid border-color;
  height: 71px;

  > .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__brand {
      height: 100%;
      display: inline-flex;
      align-items: center;

    > img {
      width: 3rem;
      height: 3rem;
      background: black;
      border-radius: 50%;
    }

    &__name {
      margin-left: 1rem;
      font-family: en-font-family;
      font-weight: 500;
    }

    &__tagline {
      margin-left: 6px;
      font-size: small-font-size;
    }
  }
}
