@keyframes fadein {
  0% {
    opacity:0;
  }

  100% {
    opacity: 1;
  }
}

.header {
  border-top: 6px solid gray-dark;
  border-bottom: 1px solid border-color;
  z-index: z-index-header;

  > .container {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    +responsive(xs) {
      padding: 0 12px;
    }
  }

  &__brand {
      height: 100%;
      display: inline-flex;
      align-items: center;

    > img {
      width: 3rem;
      height: 3rem;

      +responsive(xs) {
        width: 40px;
        height: 40px;
      }
    }

    &__name {
      margin-left: 12px;
      letter-spacing: .6px;
      font-family: en-font-family;
      font-weight: 500;
    }

    &__tagline {
      margin-left: 6px;
      font-size: small-font-size;
    }
  }

  &__collapse {
    height: 100%;
    align-items: center;

    +responsive-over(sm) {
      display: inline-flex;
    }

    +responsive(xs) {
      display: none;
      position: absolute;
      top: 71px;
      left: 0;
      right: 0;
      background: #fff;
      flex-direction: column;
      height: auto;
    }
  }

  &__menu {
    +responsive(xs) {
      width: 100%;
    }
  }

  &__menu-item {
    height: 2.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    color: text-color;
    font-family: en-font-family;

    &:hover,
    &:focus {
      color: link-hover-color;
      text-decoration: none;
    }

    &:active {
      color: link-hover-color;
    }

    +responsive(xs) {
      height: 3rem;
      border-bottom: 1px solid border-color;
      width: 100%;

    }
  }

  &__socials {
    display: inline-flex;
    align-items: center;
    height: 100%;

    +responsive-over(sm) {
      margin-left: 10px;
    }

    +responsive(xs) {
      flex-direction: column;
      width: 100%;
    }
  }

  &__socials__item {
    display: flex;
    justify-content: center;
    align-items: center;

    +responsive-over(sm) {
      margin: 0 5px;
    }

    +responsive(xs) {
      width: 100%;
      height: 3rem;
      border-bottom: 1px solid border-color;
    }
  }

  &__toggle {
    display: none;
    background: button-bg-default;
    outline: none;

    &:focus {
      background: button-bg-default;
    }

    &:active {
      background: button-active-bg-default;
    }

    +responsive(xs) {
      display: flex;
      width: 2.5rem;
      height: 2.5rem;
      justify-content: center;
      align-items: center;
    }


    &-img {
      width: 1.5rem;
      height: 1.5rem;
      background-image: url('/img/list.svg');
    }
  }

  &.menu-open {
    .header__toggle-img {
      background-image: url('/img/cross.svg');
    }

    .header__collapse {
      display: inline-block;
    }
  }

  &.menu-open:before {
    content: '';
    position: fixed;
    top: 71px;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(gray-dark, 70%);
    display: none;
    animation: fadein .2s;

    +responsive(xs) {
      display: block;
    }
  }
}
