.hero {
  padding: 36px 0 44px;
  text-align: center;

  img {
    margin: 0 auto;
    max-width: 320px;
  }

  &__tagline {
    width: 100%;
    font-size: small-font-size;
    font-weight: 600;
    margin-top: 0.75rem;
    text-align: center;
    color: #a57f56;
  }
}
