.hero {
  padding: 2rem 0 1rem;
  text-align: center;

  img {
    margin: 0 auto;
  }

  +responsive(xs) {
    padding-bottom: 0;
  }

  &__tagline {
    width: 100%;
    font-size: small-font-size;
    font-weight: 600;
    margin-top: 0.75rem;
    text-align: center;
    color: #a57f56;
  }
}
