.page-nav {
  height: 112px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-current {
    font-size: 18px;
    font-weight: 600;

    &-num {
      font-size: 20px;
      font-weight: 700;
    }
  }
}
