.profile {
  color: text-color-light-medium;
  padding: 0 2rem 2rem;

  &-thumb {
    width: 4.5rem;
    height: 4.5rem;
    margin: 2.75rem auto 2rem;

    > img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  &-name {
    width: 100%;
    margin-bottom: 8px;

    h3 {
      margin-bottom: .5rem;
    }
  }

  &-desc {
    a {
      color: text-color-light-medium;
    }
  }
}
