.profile {
  background: #222;
  color :#fff;
  padding: 52px 0 0;

  &-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 32px;

    &-name {
      font-size: 24px;
      line-height: 32px;
      font-weight: 600;
      border-left: 6px solid #3d3d3d;
      padding-left: 16px;
      margin-right: 32px;
    }

    &-avator {
      width: 68px;
      height: 68px;

      img {
        width: 100%;
        border-radius: 50%;
      }
    }
  }

  &-body {

  }

  &-footer {

  }

  &-social {
    display: inline-block;
    margin-top: 24px;
    margin-right: 16px;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background: rgba(#fff, .2);
  }
}
