.sidemenu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .backdrop {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    transition: opacity .2s;
    opacity: 0;

    &.open {
      opacity: .4;
    }
  }

  &-list {
  width: 280px;
  height: 100vh;
  background: #fff;
  transform: translateX(-400px);
  transition: 200ms;
  padding: 28px 0;

    &.open {
      transform: translateX(0);
    }
  }

  li {
    font-size: 18px;
    line-height: 56px;
    font-weight: 600;
    padding-left: 42px;
    cursor: pointer;

    &:hover {
      background: rgba(#000, .05);
    }
  }
}
