.sidenav {
  background-color: sidenav-bg-color;
  height: 100%;
  position: fixed;
  width: 16rem;
  display: flex;
  flex-flow: column nowrap;
  overflow: scroll;

  &__header {
    color: #fff;
    text-align: center;
    font-family: 'Righteous';
    font-size: 108px;
    line-height: 14rem;
    user-select: none;
    pointer-events: none;
  }

  &__menu {
    padding-bottom: 2.5rem;

    &__item {
      position: relative;

      a {
        padding: 0 2rem;
        line-height: 3.75rem;
        color: #fff;
        display: block;

        &.selected {
          color: sidenav-highlight-color;
          font-weight: bold;
        }
      }

      &:hover {
        background-color: sidenav-bg-color-hoverd;
      }

      &__marker {
        position: absolute;
        left: 0;
        top: .5rem;
        bottom: .5rem;
        width: .25rem;
        background-color: sidenav-highlight-color;
        opacity: 0;

        &.selected {
          opacity: 1;
        }
      }
    }
  }

  &__divider {
    margin-top: auto;
    margin-right: 2rem;
    margin-left: 2rem;
    height: 1px;
    background-color: rgba(#fff, 10%);
    flex-shrink: 0;
  }
}
