.summary {
  padding: 16px 0 20px;
  cursor: pointer;
  border-top: 1px solid #f1f1f1;

  &-title {
    margin: 8px 0 12px;
  }

  &-tags {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 -4px;
  }

  &-tag {
    margin: 4px;
  }
}
