.summary {
  width: 100%;
  border: 1px solid border-color;
  display: flex;
  flex-direction: column;

  &__title {
    margin: 0;
    font-size: 18px;
    line-height: 2rem;
    min-height: 4rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__thumbnail {
    width: 100%;
    position: relative;

    &:before {
      content: '';
      display: inline-block;
      width: 1px;
      padding-top: 52.5%;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: gray-light;
      object-fit: cover;
    }
  }

  &__body {
    padding: 16px 20px;
  }

  &__date {
    font-size: 1rem;
    line-height: 2rem;
    color: gray;
    font-weight: 500;
    font-family: en-font-family;
  }

  &:hover {
    border-color: primary-color;

    .summary__title {
      color: primary-color;
    }

    .summary__date {
      color: primary-color;
    }
  }
}
