.summary {
  padding: .5rem 0 3rem;
  cursor: pointer;
  border-top: 1px solid splitter-color-dark;

  &__title {
    margin: 1rem 0 12px;
    min-height: 3.5rem;

    a {
      color: primary-color-dark;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__desc {
    max-height: 4.5rem;
    margin: .75rem 0 1rem;
    //text-ellipsis();
    overflow: hidden;

    * {
      margin: 0 !important;
      font-size: $base-font-size !important;
      font-weight: normal !important;
      color: text-color-dark-strong !important;
      text-decoration: none !important;
    }
  }

  &__tags {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 -4px;
  }

  &-tag {
    margin: 4px;
  }
}
