.btn-tag {
  font-size: 12px;
  line-height: 1.25rem;
  padding: 0 .5rem;
  color: tag-text-color;
  background-color: tag-bg-color;
  border-radius: 2px;

  &:hover {
    background-color: tag-bg-color-hovered;
    color: tag-text-color;
    text-decoration: underline;
  }
}
