.container.container--body
  != partial('./partial/hero')
  .col
    .main-col
      != partial('./partial/archive', {page: page})
    .side-col
      != partial('./partial/popular-posts', {page: page})
      != partial('./partial/tags-list')
