doctype html
html(lang='ja')
  != partial('./partial/head')
  body
    .content
      != partial('./partial/header')
      .container
        | this is container

      != partial('./partial/footer')
