doctype html
html(lang='ja')
  head
    meta(charset='utf-8')
    script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
    != css('css/style')
    != js('js/main')
  body
    != partial('partial/sidemenu')
    header
      a(class='logo')
        <strong>M</strong>
    .body  
      !=body
    footer
      | this is footer
