doctype html
html(lang='ja')
  != partial('./partial/head')
  body
    != partial('./partial/sidemenu')
    != partial('./partial/header')
    .body  
      !=body
    != partial('/partial/profile')
    != partial('./partial/footer')  
