.container.container--post
  .col
    .main-col
      .post-col
        // date
        .post__date
          =date(page.date, 'YYYY.M.D')    
        //title
        h1.post-title= page.title      
        // tags
        .post__tags
          each tag in page.tags.data
            a.post__tag(href=url_for(tag.path))
              | #
              = tag.name
      .post__eyecatch-image
        img(src=page.thumbnail)
        
      .post-col     
        // article
        != partial('./partial/article', {content: page.content})      
        != partial('./partial/related-posts', {page: page} )
    .side-col
      != partial('./partial/popular-posts', {page: page})
      != partial('./partial/tags-list')
