.post
  .container
    // date
    != partial('./partial/created', {created: page.date})
    
    //title
    h1.post-title= page.title
    
    // tags
    .post-tags
      each tag in page.tags.data
        != partial('./partial/tag', {tag: tag, class_name: 'post-tag'})
    
    // article
    != partial('./partial/article', {content: page.content})
    
    h3 RELATED POSTS
    // related posts
    != popular_posts({maxCount: 12, isDate: true, isExcerpt: true, PPMixingRate: 0 }, page)
    
    h3 POPULAR POSTS
    // popular posts
    != popular_posts({maxCount: 12, isDate: true, isExcerpt: true, PPMixingRate: 1.0 }, page)
    
  // footer
  != partial('./partial/footer')
