ul.archive
  ul.unstyled-list.archive__grid
    each post in page.posts.data
      li
        != partial('./summary', {post: post})
  
  .archive__page-nav  
    != partial('./page-nav', {page: page})
