footer.footer
  .footer__upper-row
    | this is logo
  .footer__bottom-row
    .container
      .footer__copywrite
        | © 2021 Takeru Yoshihara 
      .footer__buttons
        button.icon-button.icon-button--light
          | h
        button.icon-button.icon-button--light
          | h
