footer.footer
  .container
    .footer__upper-row
      | this is logo
    .footer__bottom-row
      .footer__copywrite
        | © 2021 Takeru Yoshihara 
      .footer__buttons
        button.icon-button.icon-button--light
          | hoge
        button.icon-button.icon-button--light
          | hoge
