footer.footer
  .footer__upper-row
    a.footer__logo(href='/')
      img(src='/img/footer_logo.png')
      .footer__tagline
        | - 山と旅とキャンプのブログ -
  .footer__bottom-row
    .container
      .footer__copywrite
        | © 2021 Takeru Yoshihara 
      .footer__buttons
        a.icon-button.icon-button--light(href='https://twitter.com/mountainboooy' target='_blank' rel='noopener')
          img(src='/img/twitter_dark.svg')
        a.icon-button.icon-button--light(href='https://www.instagram.com/mountainboooy/' target='_blank' rel='noopener')
          img(src='/img/instagram_dark.svg')
