.header
  .container
    .header__brand
      img
      .header__brand__name
        | mountainboooy
      .header__brand__tagline.hidden-xs
        | - 自由に綴る外遊びの記録 -
        
    .header__menu
      a.header__menu-item
        | this is item
      a.header__menu-item
        | this is item
    .header__social-buttons
      a.icon-button.icon-button--dark
        | h
      a.icon-button.icon-button--dark
        | h    
