.header
  .container
    .header__brand
      img(src='img/logo.svg')
      .header__brand__name
        | mountainboooy
      .header__brand__tagline.hidden-xs.hidden-sm
        | - 自由に綴る外遊びの記録 -
    
    .header__collapse  
      .header__menu
        a.header__menu-item
          | About
      .header__socials
        .header__socials__item
          a.icon-button.icon-button--dark
            img(src='img/twitter_light.svg')
        .header__socials__item  
          a.icon-button.icon-button--dark
            img(src='img/instagram_light.svg')
    button.header__toggle
      img(src='img/list.svg')
