.profile
  .profile-thumb
    img(src='https://i.gyazo.com/13a3f490a5a42074ffdb1722d8a38c3d.jpg')
  .profile-name.align-center
    strong TAKEU YOSHIHARA
  .profile-desc
    | 京都のスタートアップで働くプロダクトデザイナーです。
    a(href='https://notainc.com') NotaInc.
    | という会社で
    a(href='https://gyazo.com') Gyazo
    | や
    a(href='https://scrapbox.io') Scrapbox
    | を作っています。
    | ものづくり、旅や山が大好きです。
