.profile
  .profile-thumb
    img(src='https://i.gyazo.com/13a3f490a5a42074ffdb1722d8a38c3d.jpg')
  .profile-name
    h3.align-center TAKEU YOSHIHARA
  .profile-desc
    | ゴーシュは町の活動写真館でセロを弾く係りでした。けれどもあんまり上手でないという評判でした。ゴーシュは町の活動写真館でセロを弾く係りでした。上手でないどころではなく実は仲間のゴーシュは町の活動写真館でセロを弾く係りでした。上手でないどころではなく実は仲間の…
