.profile
  .container
    .profile-header
      .profile-header-name
        | TAKERU
        br
        | YOSHIHARA
      .profile-header-avator  
        img(src='https://i.gyazo.com/13a3f490a5a42074ffdb1722d8a38c3d.jpg')
    .profile-body
      | ゴーシュは町の活動写真館でセロを弾く係りでした。けれどもあんまり上手でないという評判でした。ゴーシュは町の活動写真館でセロを弾く係りでした。上手でないどころではなく実は仲間のゴーシュは町の活動写真館でセロを弾く係りでした。上手でないどころではなく実は仲間の…
    .profile-footer
      .profile-social.profile-social-twitter
      .profile-social.profile-social-facebook
      .profile-social.profile-socila-github
