.profile
  .profile-thumb
    img(src='https://i.gyazo.com/13a3f490a5a42074ffdb1722d8a38c3d.jpg')
  .profile-name.align-center
    strong TAKEU YOSHIHARA
  .profile-desc
    |大阪に暮らす自由人です。大好きな外遊びの様子を記録します。
