.profile
  img(src='https://i.gyazo.com/13a3f490a5a42074ffdb1722d8a38c3d.jpg')
  p これはプロフィールの内容です。これはプロフィールの内容です。これはプロフィールの内容です。これはプロフィールの内容です。これはプロフィールの内容です。これはプロフィールの内容です。これはプロフィールの内容です。これはプロフィールの内容です。これはプロフィールの内容です。
