.sidenav
  ul.unstyled-list.sidenav-menu
    li.sidenav-menu-item
      a.unstyled-link(href=url_for('/')) Home 
    li.sidenav-menu-item
      a.unstyled-link(href=url_for('/about')) About
    li.sidenav-menu-item
      a.unstyled-link(href=url_for('/about')) Categories
      
  != partial('./profile')
