.sidenav
  .sidenav__header
    | m
  ul.unstyled-list.sidenav__menu
    - const menus = [{path: '/', title: 'BLOG'},{path: '/about', title: 'PROFILE'},{path: '/works', title: 'WORKS'}]
    each menu in menus
      - const val = 1
        li.sidenav__menu__item
          a.unstyled-link(href=url_for(menu.path), class = is_current(menu.path) ? 'selected' : '')
            != menu.title
          .sidenav__menu__item__marker(class = is_current(menu.path) ? 'selected' : '')
  .sidenav__divider
  != partial('./profile')
