.sidemenu
  ul
    li
      a(href='/') Home 
    li
      a(href='/about') About
  = console.log(site.categories)
  //- let categories = site.categories.data
  //- categories = categories.filter (function (elem, index, arr) {return arr.indexOf(elem) ===index})

        

script.
  $(function () {
    $('.logo').click(toggleMenu)
    console.log('takeru')
    
    function toggleMenu () {
      $('.sidemenu').toggleClass('open')
    }
  })
