.summary
  != partial('./created', {created: post.date})
  h3
    a.unstyled-link(href=url_for(post.path))
      = post.title
  each tag in post.tags.data
    != partial('./tag', {tag: tag, class_name: 'summary-tag'})
