.summary
  // date
  != partial('./created', {created: post.date})
  
  // tite
  h3.summary-title
    a.unstyled-link(href=url_for(post.path))
      = post.title
      
  // tag   
  .summary-tags 
    each tag in post.tags.data
      != partial('./tag', {tag: tag, class_name: 'summary-tag'})
