body {
  font-family: 'Roboto', sans-serif;
  color: text-color;
}

h3 {
  font-size: 21px;
  line-height: 32px;
  margin: 0;
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: text-color;
}

.unstyled-link {
  color: inherit;
  text-decoration: none;
}

.unstyled-list {
  list-style: none;
}
