html {
  * {
    box-sizing: border-box;
  }
}

.content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  min-height: 100vh;

  .body {
    flex: 1 0 auto;
  }
}

.container {
  margin: 0 auto;
  width: 100%;

  +responsive(xll) {
    max-width: 1360px;
  }

  +responsive(xl) {
    max-width: 1140px;
  }

  +responsive(lg) {
    max-width: 960px;
  }

  +responsive(md) {
    max-width: 720px;
  }

  +responsive(sm) {
    max-width: 100%;
    padding: 0 1.5rem;
  }

  +responsive(xs) {
    max-width: 100%;
    padding: 0 1.5rem;
  }
}

.col {
  width: 100%;
  display: grid;
  grid-column-gap: 1.5rem;
  grid-template-columns: 8fr 4fr;

  +responsive(xs) {
    grid-template-columns: 1fr;
  }

  +responsive(xll) {
    grid-template-columns: 9fr 3fr;
  }
}

.main-col {
}

.side-col {
  h3.side-col__title {
    color: primary-color;
    font-family: en-font-family;
    font-size: 22px;
    margin: 1.5rem 0 1rem;
  }

  +responsive-over(lg) {
    padding-left: 1.5rem;
  }

  > *:not(:last-child) {
    margin-bottom: 3rem;
  }
}
