.container--post {
  padding-top: 4rem;

  +responsive(xs) {
    padding-top: 2rem;
  }
}

.post-col {
  +responsive-over(xl) {
    padding: 0 4rem;
  }
}

.post__date {
  font-size: 1rem;
  line-height: 2rem;
  color: gray;
  font-weight: 600;
  font-family: en-font-family;

  +responsive(xs) {
    font-size: small-font-size;
    line-height: 1.5rem;
  }
}

.post__eyecatch-image {
  margin-top: 2rem;

  +responsive(xs) {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
}

.post__tags {
  margin-top: 0.5rem;
  line-height: 1.5rem;
}

.post__tag {
  +unstyled-link(){}
  color: gray;
  font-size: 12px;
  font-weight: 600;
  margin-right: 10px;

  &:hover {
    color: button-hover-bg-primary;
  }
}
