.post {
    padding: 52px 0 72px;

    &-title {
      margin: 8px 0 12px;
    }

    &-tags {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: flex-start;
      margin: 0 -4px 32px;
    }

    &-tag {
      margin: 4px;
    }
}
