.post {
    padding: 52px 0 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 40px;

    .container {
      max-width: 720px;

      grid-column: 3 / span 8;

      +responsive(md) {
        grid-column: 2 / span 10;
      }

      +responsive(sm) {
        grid-column: 2 / span 10;
      }

      +responsive(xs){
        grid-column: 1 / span 12;
        }
    }

    footer {
      grid-column: 1 / span 12;
    }

    &-title {
      margin: 8px 0 12px;
    }

    &-tags {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: flex-start;
      margin: 0 -4px 32px;
    }

    &-tag {
      margin: 4px;
    }
}
