.hidden-xs {
  +responsive(xs) {
    display: none;
  }
}

.visible-xs {
  display: none;
  
  +responsive(xs) {
    display: block;
  }
}

.hidden-sm {
  +responsive(sm) {
    display: none;
  }
}

.unstyled-list {
  +unstyled-list() {}
}

.unstyled-link {
  +unstyled-link() {}
}
