.hidden-xs {
  +responsive(xs) {
    display: none;
  }
}

.hidden-sm {
  +responsive(sm) {
    display: none;
  }
}

.unstyled-link {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    color: inherit;
    text-decoration: none;
  }
}
