// Colors
primary-color-default = #48b0ff;
primary-color-dark =  darken(primary-color-default, 70%);
secondary-color = #e2e2e2;

text-color-dark-strong = primary-color-dark;
text-color-dark-medium = rgba(text-color-dark-strong, .8);
text-color-dark-weak = rgba(text-color-dark-strong, .5);
text-color-light-strong = #fff;
text-color-light-medium = rgba(text-color-light-strong, .8);
text-color-light-weak = rgba(text-color-light-strong, .5);
text-link-color = primary-color-default;

splitter-color-dark = rgba(primary-color-dark, .1);
splitter-color-light = rgba(#fff, .1);

sidenav-bg-color = primary-color-dark;
sidenav-highlight-color = primary-color-default;

tag-bg-color = lighten(primary-color-default, 70%);
tag-bg-color-hovered = darken(tag-bg-color, 5%);
tag-text-color = darken(primary-color-default, 60%);
