/* Colors */
primary-color = #a57f56;
gray-dark = #3a3128;
gray = #a09a94;
gray-light = #eae8e6;
/* Typography */
ja-font-family = 'Noto Sans JP', sans-serif;
en-font-family = 'Roboto', sans-serif;
base-font-size = 16px;
base-line-height = 2rem;
h1-font-size = 2rem;
h1-line-height = 3rem;
h2-font-size = 1.375rem;
h2-line-height = 1.5rem;
h3-font-size = 1.25rem;
h3-line-height = 1rem;
h4-font-size =  1.125rem;
h4-line-height = 1rem;
heading-font-weight = 700;
text-color = gray-dark;
link-color = primary-color;
link-hover-color = darken(primary-color, 5%);
caption-font-size = 14px;
caption-color = gray;
caption-line-height = 0.75rem;
/* Buttons */
button-bg-default = gray-light;
button-hover-bg-default = darken(gray-light, 5%);
button-active-bg-default = darken(gray-light, 10%);
button-bg-primary = primary-color;
button-hover-bg-primary = darken(primary-color, 5%);
button-active-bg-primary = darken(primary-color, 10%);
/* Table */
table-border-color = darken(gray-light, 5%);
table-header-bg = tranparent;
/* Other */
border-color = gray-light;
/* Layout */
screen-sm = 576px;
screen-md = 768px;
screen-lg = 992px;
screen-xl = 1200px;
