table {
  border-collapse:collapse;
  margin:0 auto;
}
th{
  color: text-color;
  background: table-header-bg
}
td{
  border-bottom:1px dashed table-border-color;
}
th,tr:last-child td{
  border-bottom:2px solid table-border-color;
}
td,th{
  padding:10px;
}
