.drawer
  .backdrop
  ul.unstyled-list.drawer__list
    - const menus = [{path: '/', title: 'BLOG'},{path: '/about', title: 'PROFILE'},{path: '/works', title: 'WORKS'}]
    each menu in menus
      - const val = 1
        li.drawer__menu__item
          a.unstyled-link(href=url_for(menu.path), class = is_current(menu.path) ? 'selected' : '')
            != menu.title
          .drawer__menu__item__marker(class = is_current(menu.path) ? 'selected' : '')

  script.
    $(function () {
      $('.hero__btn').click(toggleMenu)    
      $('.drawer').click(toggleMenu)
    })
    
    function toggleMenu () {
      if (isShown()) {
        closeMenu()
      } else {
        openMenu()
      }
    }
    
    function isShown () {
      return $('.drawer').css('display') === 'block'
    }
    
    function openMenu () {
      $('.drawer').show()
      setTimeout(function () {
        $('.backdrop').addClass('open')
        $('.drawer ul').addClass('open')
      }, 100)
    }
    
    function closeMenu () {
      $('.drawer ul').removeClass('open')
      $('.backdrop').removeClass('open')
      setTimeout(function () {
        $('.drawer').hide()
      }, 300)
    }
