.hero
  .hero__content
    .hero__header
      button.hero__btn
        img(src='img/menu.svg')
    .hero__logo
      | m
    .hero__footer.align-center
      h4 
        strong MOUNTAINBOOOY
      strong - 京都で働くプロダクトデザイナーの日記 - 
